<footer>
    <div class="acerca">
        <div class="logo-exp">
            <img src="https://www.xperienciasxcaret.mx/ecom/webroot/images/experiencias-xcaret-logo.png">
        </div>
        <div class="marcas">
            <div class="row">
                <div class="columnas-3"><img src="//www.xcaretexperiencias.com/img/logos/xcaret-c.png"></div>
                <div class="columnas-3"><img src="//www.xcaretexperiencias.com/img/logos/xelha-c.png"></div>
                <div class="columnas-3"><img src="//www.xcaretexperiencias.com/img/logos/xplor-c.png"></div>
            </div>
            <div class="row">
                <div class="columnas-3"><img src="//www.xcaretexperiencias.com/img/logos/xichen-c.png"></div>
                <div class="columnas-3"><img src="//www.xcaretexperiencias.com/img/logos/xenotes-c.png"></div>
                <div class="columnas-3"><img src="//www.xcaretexperiencias.com/img/logos/xenses-c.png"></div>
            </div>

        </div>
        <div class="marcas">
            <div class="row">
                <div class="columnas-3">
                    <h4>Acerca de</h4>
                    <ul>
                        <li>Nuestra Empresa</li>
                        <li>Bolsa de trabajo</li>
                        <li>Conoce Quintana Roo</li>
                    </ul>
                </div>
                <div class="columnas-3">
                    <h4>De interes</h4>
                    <ul>
                        <li>Nuestra Empresa</li>
                        <li>Bolsa de trabajo</li>
                        <li>Conoce Quintana Roo</li>
                    </ul>
                </div>
                <div class="columnas-3">
                    <h4>Legal</h4>
                    <ul>
                        <li>Nuestra Empresa</li>
                        <li>Bolsa de trabajo</li>
                        <li>Conoce Quintana Roo</li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    <div class="contacto">
        <h4>Atención a Clientes/Ventas:</h4>
        <div class="marcas">
            <div class="row">
                <div class="columnas-3">
                    <ul>
                        <li>Cancún: 000-000-0000</li>
                        <li>Cancún: 000-000-0000</li>
                        <li>Cancún: 000-000-0000</li>
                    </ul>
                </div>
                <div class="columnas-3">
                    <ul>
                        <li>Cancún: 000-000-0000</li>
                        <li>Cancún: 000-000-0000</li>
                        <li>Cancún: 000-000-0000</li>
                    </ul>
                </div>
                <div class="columnas-3">
                    <ul>
                        <li>Cancún: 000-000-0000</li>
                        <li>Cancún: 000-000-0000</li>
                        <li>Cancún: 000-000-0000</li>
                    </ul>
                </div>

            </div>
            <div class="ultimo-p">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer purus neque, posuere ac accumsan quis, gravida vitae neque.</p>
                <p>Sed tristique mi libero, vel facilisis ipsum ultricies nec. Nulla bibendum in urna vehicula bibendum.</p>
                <p>©Mauris fringilla auctor vulputate.</p>
            </div>

        </div>
    </div>
</footer>